@charset "ISO-8859-1";



footer {
 overflow: hidden;
 background-color: #043c74;
 padding: 20px 10px;
 text-align: center;
 clear:both;
 border-radius: 10px;
}

footer li{
color: white;
list-style: none;
font:bold 14px verdana;
padding: 20px;
display: inline-block;
}




